:root{
    --bg-color: #1a1a1a;
    --primary-color:#fc8a51;   
    --font:"Poppins", sans-serif;   
    --box-bg: #272727;   
    --neutral-color:#d7d7d7;
    --active-color : #fca769;
    --accent-color:#e0e0e0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    color: white;
}

body {
    background-color: var(--bg-color);
}




.navbar {
    min-height: 8vh;
    width: 100vw;
    justify-content: space-around;
    padding:  0 10%;
    /* background:  red; */
    align-items:  center;
    background: var(--bg-color);
    
    
    
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Styles for larger screens */
.nav_ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_ul li a {
    color: var(--neutral-color);
    font-size: 1vw;
    cursor: pointer;
    font-weight: 350;
    transition: .2s ease;
}

.nav_ul li a:hover {
    color: white;
}

/* #brand_name {
    font-size: 2vw;
    
    color: var(--primary-color);
    font-weight: 450;
    letter-spacing: 1px;
}
 */
.logo {
    height:  8vw;
    width:  8vw;
}


section {
height:  auto;
    width: 100vw;
    position:  relative;
}


#about {
    min-height:  auto;
    width:  100vw;
    position:  relative;
    display: flex;
    justify-content:  center;
    align-items:  center;
    
}

.pfp{
    width:  40%;
    height:  50%;
    /* background:  red; */
    height:  auto;
    aspect-ratio:3/4;
    object-fit:  cover;
}

.pfp img{
    width:  100%;
    height:  100%;
}

.about_data {
    width:  50%;
    padding:  2% ;
    
}

.about_data h2 {
    font-size: 3vw;
    color:  var(--primary-color);
    
}

.about_data h2 span{
    font-size:  5vw;
    letter-spacing:  2px;
}

.about_data p {
    font-size:  1.3vw;
    color:  var(--accent-color);
    font-weight:  500;
}

.about_data p i{
    color:  var(--primary-color);
}

#intro {
    margin:  2% 0;
}

.heading {
    text-align: center;
    font-size:  2vw;
    margin:  2% 0 1% 0;
    letter-spacing:  1px;
    color:  var(--primary-color);
}


.heading-para {
    font-size:  1.5vw;
    color:  var(--neutral-color);
    text-align:  center;
    width:  50%;
    margin: auto;
    font-weight:  350;
}

#gallery-link{
    text-align:  center;
    cursor: pointer;
    color:  var(--neutral-color);
    transition:  .2s ease;
    text-decoration:  none;
    font-size:  1.5vw;
    text-transform:  uppercase;
    letter-spacing:  1px;
    margin: auto;
}

#gallery-link:hover {
    text-decoration:  underline;
    color:  white;
}

.parent-box {
    width:  80%;
    margin:  4% auto;
    height:  auto;
    display: flex;
    justify-content:  center;
    align-items:  center;
    
    
}

.og-works {
    width:  80%;
    position:  relative;

}


.swiper {
      width: 80%;
      height: 50vh;
}

.swiper-container {
    width: 100%;
    height:  100%;
    
    
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    aspect-ratio:3/4;
    object-fit:  cover;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    position:  relative;
}


.original-dts{
    opacity:  0; 
    transition:  1s ease;
    background:  #272727c0;
    transition: opacity   1s ease-in-out;
    
}

.swiper-slide:hover .original-dts {
    opacity: 1;
}

.og-tittle {
    font-size:  2vw;
    text-transform:  uppercase;
    letter-spacing:  1px;
    
}

.og-dts {
    width:  80%;
    font-size:  1vw;
    color:  var(--neutral-color);
    font-weight:  400;
   
}

/* .swiper-slide:hover~.original-dts {
    opacity: 1;
    transition: opacity 1s;
}
 */
 

  
.gallery-redirect-para{
   font-size:  1.5vw; 
   color:  var(--neutral-color);
   width:  60%;
   font-weight:  350;
   
} 


   
.box {
    display: flex;
    justify-content:  center;
    align-items:  center;
    position:  relative;
}

.project_dts {
    width:  80%;
    margin: auto;
    margin-top:  2%;
}

.tittle {
    font-size:  2vw;
    text-transform:  uppercase;
    font-weight:  550;
}

.description {
    text-align:  left;
    font-size:  1.5vw;
    color:  var(--neutral-color);            
    font-weight:  450;
}

.yt-container{
    max-width:  80%;
}

/* utility classes */

.dropdown-toggle::after {
    display: none !important; /* Hide the chevron */
}
  
.ml {
    margin-left:  10%;
}  

.a {
    color:  var(--neutral-color);
    text-decoration:  none;
    text-transform:  uppercase;
    letter-spacing:  1px;
    font-size:  1.5vw;
    font-weight:  350;
    
} 

.a:hover {
    text-decoration: underline;
    color:  white;
}

.w{
    width:  90%;
}

.fs{
    font-size:  2vw;
}

.shadow-top {
    box-shadow: inset 0 4px 10px -2px rgba(0, 0, 0, 0.5);
}

/* utility classes end */

.yt-tittle{
    font-size:  2vw;
    margin: 5% 0;
}

.social-links li {
    font-size: 2vw;
    cursor: pointer;
    margin:  3% 0;
    transition:  .2s ease;
    padding:  2% 3%;
    
    border-radius: 50%;
    display: flex;
    justify-content:  center;
    align-items:  center;
}

.social-links li:hover {
    background:  var(--primary-color);
}

footer {
    background: #272727;
}

.links li a{
    color:  var(--neutral-color);
    text-decoration:  none;
    cursor: pointer;
    text-transform:  uppercase;
    font-size:  1vw;
    
}

.links li a:hover {
    color:  white;
    text-decoration:  underline;
}

.logo_icon {
    
    height: auto;
    object-fit:  contain;
  width:  40%;
    display: flex;
    justify-content:  center;
    align-items:  center;
  
}

.logo_icon img {
    height:  15vw;
    width:  15vw;
}

.link-box {
    width:  60%;
}

.copyright,
.copyright span{
    font-size:  1.2vw;
    color:  var(--neutral-color);
}

.icon {
    height:  15vw;
    width:  100%;
    
}

@media screen and (max-width:1500px){
    .yt-tittle{
        font-size: 1.8vw;
    }
    
    .about_data h2{
        font-size:  4vw;
    }
    
    .about_data h2 span {
        font-size:  6vw;
    }
    
    .about_data p, 
   .descriptioln {
        font-size:  1.8vw;
    }
    
    .about_data p i {
        font-size:   2.5vw;
    }
    
    .heading,
    .tittle{
        font-size:  3vw;
    }
    
    .nav_ul li a{
        font-size:  1.2vw;
    }
    
    
  
}


@media screen and (max-width: 768px) {
    #about {
        flex-direction: column;
        padding:  5% 0;
    }
    
    #about div, 
   .project_dts {
        width: 90%;
    }
    
    .about_data h2 {
        font-size: 5vw;
    }
    
    .about_data h2 span {
        font-size: 8vw;
    }
    
    .about_data #intro,
    .description,
    .og-tittle{
        font-size: 3.5vw;
    }
    
    .about_data p:nth-child(2) {
        margin-top: 3%;
    }
    
    .heading,
    .tittle,
    .social-links li,
    .about_data p i {
        font-size: 6vw;
    }
    
    .heading-para,
    .gallery-redirect-para,
    .a {
        font-size: 3vw;
        width: 80%;
        margin:  auto;
    }
    
    .about_data .achievement {
        font-size:  4.5vw;
        font-weight:  550;
    }
    
    .yt-container{
        max-width:  90%;
    }
    
    .nav_ul li a,
    
    .copyright,
    .copyright span,
    .links li a ,
    .og-dts{
        font-size: 3vw;
    }
    
    #brand_name,
    .yt-tittle,
    .fs {
        font-size:  4vw;
    }
    
   
    
    .navbar {
        padding:  0 2%;
    }
    
    .logo_icon,
    .link-box{
        width:  100%;
    }
    
    .logo_icon img{
        height:  20vh;
        width: 20vh;
    }
    
    .logo {
        height:  15vw;
        width:  15vw;
    }
    
    .icon {
        height:  30vw;
    }
    
}

