:root{
    --bg-color: #1a1a1a;
    --primary-color:#fc8a51;   
    --font:"Roboto", sans-serif;   
    --box-bg: #272727;   
    --neutral-color:#d7d7d7;
    --active-color : #fca769;
    --accent-color:#e0e0e0;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    color: white;
}

body {
    background-color: var(--bg-color);
}

.loader {
    height:  100vh;
    width:  100vw;
    position:  fixed;
    top:  0;
    left:  0;
   
   z-index:  99;
   display: flex;
   justify-content:  center;
   align-items:  center;
   background:  var(--bg-color);
}


.spinner {
    border: 2px solid #2e2e2e; /* Light grey */
    border-top: 2px solid #fff; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.navbar {
    min-height: 8vh;
    width: 100vw;
    justify-content: space-around;
    padding:  0 10%;
    /* background:  red; */
    align-items:  center;
    background: var(--bg-color);
    
    
    
}

.navbar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Styles for larger screens */
.nav_ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav_ul li a {
    color: var(--neutral-color);
    font-size: 1vw;
    cursor: pointer;
    font-weight: 350;
    transition: .2s ease;
}

.nav_ul li a:hover {
    color: white;
}

/* #brand_name {
    font-size: 2vw;
    color: var(--primary-color);
    font-weight: 450;
    letter-spacing: 1px;
}
 */
.logo {
    height:  8vw;
    width:  8vw;
}



section {
    min-height:  100vh;
    width: 100vw;
    position:  relative;
}


button{
    border:  none;
    background:  transparent;
    color:  var(--neutral-color);
    transition:  .2s ease;
    cursor: pointer;
    
    
}

button:active {
    color:  var(--primary-color);
}


#artwork-container {
    width:  80%;
    height:  auto;
    
    margin: auto;
    display: grid;
    grid-template-columns:  1fr 1fr;
    padding: 2%;
    justify-content:  center;
    
}

.artwork{
    height: auto;
    width:  90%;
    display: flex;
    justify-content:  center;
    align-items: center;
    flex-direction: column;
    
    margin:  2% 0;
    
}

.artwork p{
    text-align: center;
    font-size: 1.5vw;
    margin:  2% 0;
}


/* Fade animation classes */

.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
    animation: fadeOut 0.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}


#para-first {
    text-align:  center;
    width: 80%;
    margin: auto;
    font-size:  1.5vw;
    color:  var(--accent-color);
    font-weight:  400;
    margin-top:  5%;
    /* background:  red; */
    width:  50%;
    margin-bottom:  3%;
}


button {
    color: var(--neutral-color);
    cursor: pointer;
    font-size:  1.5vw;
    margin:  .5% 0;
    text-transform:  uppercase;
    letter-spacing:  1px;
}

.filter-btn.active{
    color:  var(--primary-color);
}

footer {
    background: #272727;
}

.brand{
    width:  40%;
    aspect-ratio:1/1;
    object-fit:  contain;
    height:  auto;
}

.social-links{
    justify-content:  space-around;
    align-items:  center;
    width: 60%;
    height: auto;
}

.social-links ul li {
    text-align:  center;
    cursor: pointer;
}

.social-links ul li a{
    color:  var(--neutral-color);
    text-decoration:  none;
    font-size: 1.8vw;
    text-transform:  uppercase;
    letter-spacing:  1px;
}

.social-links ul li a:hover{
    text-decoration:  underline;
    color:  white;
}

@media screen and (max-width:760px){
    #artwork-container {
        grid-template-columns: auto;
        
    }
    
    .artwork {
        width:  100%;
    }
    
    .social-links{
        width:  100%;
    }
    
    .artwork p,
    button,
    .nav_ul li a{
        font-size: 3vw;
    }
    
    #brand_name {
        font-size:  4vw;
    }
    
    #para-first {
        font-size:  4vw;
        /* font-weight:  350; */
        width: 80%;
    }
    
    .navbar {
        padding:  0 2%;
    }
    
    
    .logo {
        height:  15vw;
        width:  15vw;
    }
    
}
